
    <h1>Adicionar Nova Conquista ao Jogo "{{ jogo.titulo }}"</h1>
    <form action="/jogos/{{jogo.id}}/novaconquista" method="post">


  <div>
    <label for="título">Título:</label>
    <input type="text" id="título" name="titulo" value="{{conquistas.titulo}}" />
  </div>
  <div>
    <label for="descrição">Descrição:</label>
    <input type="text" id="descricao" name="descricao" value="{{conquistas.descricao}}" />
  </div>

  <input type="submit" value="Cadastrar" />

</form>