{{#if jogos}}
  <h1>Atualiizar Jogos</h1>
<form action="/jogos/{{isiario.id}}/update" method="post">
{{else}}
<h1>Cadastrar Jogos</h1>
<form action+"/Jogo/novo" method="post">
{{/if}}
        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo"/>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao"/>
        </div>
        <div>
            <label for="precoBase">Preço Base:</label>
            <input type="number" id="precoBase" name="precoBase" step="0.01"/>
        </div>
        <input type="submit" value="Cadastrar" />
{{#if jogos}}
   <input type="submit" value="Salvar"/>
   {{else}}
   <input type="submit" value="Cadastrar"/>
   {{/if}}
</form>
    



